.favoriteButton {
  width: 5rem;
  position: relative;
  top: 1rem;
  left: 12rem;
  background-image: url(https://orig00.deviantart.net/69c6/f/2013/108/b/6/star_trek_armada_2_custom_icon_by_thedoctor45-d3i425f.png);
}