.header {
  height: 16rem;
  background-position-x: center;
  background-position-y: 2rem;
  background-repeat: no-repeat;
  background-image: url(https://fontmeme.com/permalink/180513/daa3226f792f848c9532b9a4496dc640.png)
}