.Card {
  font-size: 1.35rem;
  width: 19.5%;
  height: 33%; }

.favorite {
  background-color: rgba(80, 109, 144, 0.3);
  border: 1px dashed #152f50; }

.cardImage {
  height: 10rem;
  margin: 2rem auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.peopleImage {
  background-image: url(https://i.stack.imgur.com/PyWqg.jpg); }

.planetImage {
  background-image: url(http://vignette2.wikia.nocookie.net/22ndmobile/images/7/7d/Patch_starfleet_command_2000.png/revision/latest?cb\x3d20120409170919); }

.vehicleImage {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFbR586-0GOQSTvF-X9fz9Ek5FcKZb422wvoLG26o5wf76ONak); }
